<div class="container">

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col">
      <h1 class="text-center">title</h1>
      <form #form="ngForm" (onload)="ngLoad(form)">
        <div class="form-group-sm">
          <lu-bar (submit)="submitForm(form)" (delete)="reset()" (isList)="changeShowType()"></lu-bar>
          <grid [isList]="isList" [dataSource]="dataSource" [columns]="columns"
                (recordClick)="onRecordDbClick($event)" (recordSelected)="onRecordSeleced($event)"></grid>
          <div *ngIf="isList==false">
                        <text-box inputType="textBox" name="code" [ngModel]="code"> </text-box>
                        <text-box inputType="textBox" name="name" [ngModel]="name"> </text-box>
                        
                     </div>

        </div>

      </form>
    </div>
    <div class="col-md-2">


    </div>
  </div>
</div>
